.login {
  width: 100%;
}
.login-box {
  width: 90%;
  max-width: 400px;
  min-width: 200px;
  margin: auto;
  margin-top: 200px;
}
.login-box input {
  width: 100%;
  margin-bottom: 20px;
}
.login-box button {
  margin: auto;
}